<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <div class="container mt-5">
            <h1>
                <%= title %>
            </h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <% books.forEach((book, i) => { %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= book.title %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </body>

</html>